html {
  scrollbar-color: #ee8fc5 #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #ee8fc5;
  border-radius: 1ex;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.75);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #1b1b1f;
}

.App {
  background-color: #2a2d41;
  color: #f8f8f2;
}

.Header {
  -moz-box-shadow: 3px 3px 5px 6px #202020;
  -webkit-box-shadow: 3px 3px 5px 6px #202020;
  box-shadow: 3px 3px 5px 6px #202020;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  height: 40px;
  align-items: center;
  width: 100%;
}

.user-nav {
  display: flex;
  align-items: center;
}
.user-nav a {
  margin-left: 8px;
}

.header-avatar {
  object-fit: cover;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.Sort {
  margin-top: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.loadingSVG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

.svg-small {
  width: 20%;
}

.article-list,
.comment-list,
.Login,
.PostArticle {
  margin: 10px;
  list-style-position: inside;
  padding-left: 0;
}

.newpost-box {
  margin-top: 10px;
}

.ArticleCard,
.CommentCard {
  border-radius: 10px;
  background-color: #38373f;
  -moz-box-shadow: 0 3px 5px 0 #202020;
  -webkit-box-shadow: 0 3px 5px 0 #202020;
  box-shadow: 0 3px 5px 0 #202020;
  list-style-type: none;
  padding: 16px;
  margin-bottom: 20px;
}

.SingleArticle {
  padding: 16px;
}

.article-body {
  margin: 16px;
}

h4,
h3,
h2 {
  margin-bottom: 8px;
}

.topic-list {
  margin: 20px;
  list-style-position: inside;
  padding-left: 0;
}

.topic-li {
  list-style-type: none;
  margin-bottom: 20px;
}
.topic-li h2 {
  margin-bottom: 0;
}
.topic-li p {
  margin-top: 4px;
}

.topic-header {
  margin: 32px 10px 0px;
}

.avatar {
  width: 210px;
  height: auto;
}

.icons {
  width: 16px;
  height: auto;
  margin-right: 4px;
}

a {
  color: #ee8fc5;
}

.capitalize {
  text-transform: capitalize;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3abd5d;
}

a:active {
  text-decoration: underline;
}

button {
  margin: 10px 0 10px 10px;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #3abd5d;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ff5555;
  -moz-box-shadow: 0 3px 5px 0 #202020;
  -webkit-box-shadow: 0 3px 5px 0 #202020;
  box-shadow: 0 3px 5px 0 #202020;
  transform: scale(1.05);
}

.vote-down {
  background-color: #ff5555;
}
.vote-down:hover {
  background-color: #202020;
}

.PostComment {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.comment-textarea,
.post-textarea,
.post-title-box,
.topic-dropdown {
  resize: vertical;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  background-color: #151515;
  border: 1px solid #151515;
  color: #00ff00;
  padding: 8px;
  margin-top: 4px;
}

.comment-submit {
  float: right;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  background-color: #151515;
  border: none;
  color: #00ff00;
  margin: 10px 0 10px 10px;
  border-radius: 4px;
  border: none;
  padding: 12px 12px;
  font-size: 16px;
}

.newpost-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #151515;
  border: none;
  color: #6aa16a;
  border-radius: 4px;
  border: none;
  padding: 12px 12px;
  font-size: 16px;
}

.login-button {
  width: 600px;
}

.login-h4 {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: 1;
  background-color: #202020;
  /* background-color: #2a2d41; */
  /* margin: 5px; */
  /* width: calc((100%) - 20px); */
  width: 100%;
  overflow-y: auto;
  padding: 20px;
}

.create-post-form {
  border-radius: 10px;
  padding: 20px;
  background-color: #2a2d41;
  -moz-box-shadow: 0 3px 5px 0 #101010;
  -webkit-box-shadow: 0 3px 5px 0 #101010;
  box-shadow: 0 3px 5px 0 #101010;
}

.create-post-form * {
  margin-bottom: 8px;
}

.modal-header {
  width: 100%;
}

.x-button {
  margin: 0;
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  transition-duration: 0.4s;
  float: right;
}

.x-button:hover {
  background-color: transparent;
  color: #ff5555;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transform: scale(1.05);
}

.post-textarea,
.post-title-box {
  font-size: x-large;
}

.no-comments {
  margin-top: 25px;
  text-align: center;
}

.svg-x-small {
  width: 32px;
  height: auto;
}

.fade-in {
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden-modal {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Header {
    padding-left: 6px;
    padding-right: 6px;
  }

  .Header .icons {
    display: none;
  }

  .Sort {
    justify-content: space-evenly;
  }

  .Sort button {
    margin: 4px 0 4px;
  }

  .card-info {
    font-size: x-small;
    font-weight: lighter;
  }
  .icons {
    width: 12px;
    height: auto;
    margin-right: 4px;
  }

  .username-box {
    width: 90%;
  }

  .login-button {
    width: 90%;
  }

  .modal {
    padding: 4px;
  }
}
