ul {
  list-style-position: inside;
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}

.ArticleCard {
  margin: 5px;
  background-color: antiquewhite;
}

.avatar {
  width: 210px;
  height: auto;
}
